@import "./base/nule.scss";
@import "./pages/Tracks.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;600;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #E9E9E9;
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 5px;
}

.app__holder {
    display: flex;
    align-items: center;
    width: 100%;
}

.main {
    width: 70vw;
    &__holder {
        min-height: calc(100vh - 198px);
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        height: calc(100vh - 340px);
        overflow-y: scroll;
        padding: 30px;
    }
}

.playlist {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    background-color: none;
    padding: 5px;   
    transition: all 0.2s ease;
    &:hover {
        background-color: #F1F1F1;
    }
    &__button &__img {
        width: 45px;
        height: 45px;
        background-color: #D9D9D9;
        border-radius: 5px;
    }
    &__holder {
        display: block;
        align-items: center;
        margin-left: 10px;
    }
    &__name {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    &__subinfo {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 12px;
        color: #1F1F1F;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        transition: all 0.2s ease;
        &:hover {
            text-decoration: underline;
        }
    }
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-slider-runnable-track {
        border-radius: 10px;
        border: 1px solid #ffffff00;
        background-color: #ffffff00;
    }

    &::-webkit-slider-thumb {
        background: #757575;
        border: 4px solid #757575;
        border-radius: 50px;
        cursor: pointer;
        width: 15px;
        height: 15px;
        -webkit-appearance: none;
        margin: -7.5px;
    }

    &::-moz-range-track {
        border-radius: 10px/100%;
        border: 1px solid cyan;
        background-color: #810000;
    }

    &::-moz-range-thumb {
        background: #ecf0f1;
        border: 1px solid cyan;
        border-radius: 10px/100%;
        cursor: pointer;
    }
}